:root {
    --blueb: blue;
    --bluef: white;

    --bratb: #8ACE00;
    --bratf: black;

    --darkb: #1b1b1b;
    --darkf: #ededed;
}
@font-face {
    font-family: "Perandory";
    src: url(perandory.woff2);
}
/* Themes */
.blue {
    background-color: var(--blueb);
    color: var(--bluef);
}
.brat {
    background-color: var(--bratb);
    color: var(--bratf);
}
.dark {
    background-color: var(--darkb);
    color: var(--darkf);
}
/* Body */
html{
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Helvetica", sans-serif;
}
body {
    width: 800px;
    margin: 50px auto;
    font-size: 32px;
    text-align: justify;
}
div {
    font-family: monospace;
    width: 100%;
    text-align: center;
}
.poetry p {
    font-size: 22px;
}
.poetry img {
    width: 60%;
}
/* Single tags */
a {
    color: var(--bluef);
}
a:hover {
    color: var(--bluef);
}
.cnt {
    text-align: center;
}
.serif {
    font-family: serif;
}
h2 {
    font-size: 40px;
    font-family: "Perandory", serif;
    margin: 0px;
}
button {
    position: relative;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100px;
    border-radius: 100%;
    border: 2px solid var(--bluef);
    font-size: 20px;
    color: var(--bluef);
    cursor: pointer;
}
/* Button */
button:hover {
    background-color: var(--bluef);
    color: var(--blueb);
}
button.brat {
    border: 2px solid var(--bratf);
}
button.brat:hover {
    background-color: var(--bratf);
    color: var(--bratb);
}
button.dark:hover {
    background-color: var(--darkf);
    color: var(--darkb);
}
sup {
    font-size: 12px;
}
img {
    width: 80%;
}
@media (max-width: 900px) {
    body {
        width: 80%;
        font-size: 22px;
    }   
    img {
        width: 90% !important;
    }
}